In [3]:
import pandas as pd
from pandas.io.json import json_normalize
from pandasql import sqldf
dfsql = lambda q: sqldf(q, globals())

In [4]:
def flattencolumns(df1, cols):
    df = pd.concat([pd.DataFrame(df1[x].values.tolist()).add_prefix(x) for x in cols], axis=1)
    return pd.concat([df, df1.drop(cols, axis=1)], axis=1)

In [5]:
df = pd.read_json(
    './s3_sync/2017/07/10/06/riot-raw-games-ingestion-games-raw-3-2017-07-10-06-48-49-b235f850-0637-42d6-a9ad-1c89e755a6a7',
    lines=True,
    convert_axes=True,
    dtype={
        'gameCreation':'int64',
        'gameDuration':'int64',
        'gameId':'int64',
        'gameMode':'str',
        'gameType':'str',
        'gameVersion':'str',
        'mapId':'int64',
        'participantIdentities':'array',
        'participants':'array',
        'platformId':'array',
        'queueId':'int64',
        'seasonId':'int64',
        'teams':'str'
    }
)

In [6]:
df = pd.read_json(
    './s3_sync/2018/10/13/01/riot-raw-games-ingestion-games-raw-4-2018-10-13-01-22-45-f047db3c-2ca9-4ad4-bbb0-65f8f9dd442e',
    lines=True,
    convert_axes=True
)

In [7]:
df.dtypes

gameCreation              int64
gameDuration              int64
gameId                    int64
gameMode                 object
gameType                 object
gameVersion              object
mapId                     int64
participantIdentities    object
participants             object
platformId               object
queueId                   int64
seasonId                  int64
teams                    object
dtype: object

In [14]:
dfsql("""
select *
from fla
""")

InterfaceError: (sqlite3.InterfaceError) Error binding parameter 7 - probably unsupported type. [SQL: 'INSERT INTO df ("gameCreation", "gameDuration", "gameId", "gameMode", "gameType", "gameVersion", "mapId", "participantIdentities", participants, "platformId", "queueId", "seasonId", teams) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (1539390368227, 1487, 2885747863, 'CLASSIC', 'MATCHED_GAME', '8.20.249.1952', 11, [{'participantId': 1, 'player': {'platformId': 'NA1', 'accountId': 42212761, 'summonerName': 'I AFK or FEED I', 'summonerId': 27761252, 'currentPlatfo ... (2438 characters truncated) ...  47562521, 'currentPlatformId': 'NA1', 'currentAccountId': 210309937, 'matchHistoryUri': '/v1/stats/player_history/NA1/210309937', 'profileIcon': 0}}], [{'participantId': 1, 'teamId': 100, 'championId': 63, 'spell1Id': 11, 'spell2Id': 4, 'highestAchievedSeasonTier': 'SILVER', 'stats': {'participantId' ... (28197 characters truncated) ... ltas': {'10-20': 1258.9, '0-10': 369.3}, 'damageTakenDiffPerMinDeltas': {'10-20': 337.6, '0-10': -44.29999999999998}, 'role': 'SOLO', 'lane': 'TOP'}}], 'NA1', 420, 11, [{'teamId': 100, 'win': 'Win', 'firstBlood': False, 'firstTower': True, 'firstInhibitor': True, 'firstBaron': True, 'firstDragon': False, 'firstRiftHe ... (683 characters truncated) ... ': 6}, {'championId': 81, 'pickTurn': 7}, {'championId': 86, 'pickTurn': 8}, {'championId': 53, 'pickTurn': 9}, {'championId': 157, 'pickTurn': 10}]}])] (Background on this error at: http://sqlalche.me/e/rvf5)

In [8]:
flattend = flattencolumns(df, ['participantIdentities'])
flattend

,participantIdentities0,participantIdentities1,participantIdentities2,participantIdentities3,participantIdentities4,participantIdentities5,participantIdentities6,participantIdentities7,participantIdentities8,participantIdentities9,...,gameId,gameMode,gameType,gameVersion,mapId,participants,platformId,queueId,seasonId,teams
0,"{'participantId': 1, 'player': {'platformId': ...","{'participantId': 2, 'player': {'platformId': ...","{'participantId': 3, 'player': {'platformId': ...","{'participantId': 4, 'player': {'platformId': ...","{'participantId': 5, 'player': {'platformId': ...","{'participantId': 6, 'player': {'platformId': ...","{'participantId': 7, 'player': {'platformId': ...","{'participantId': 8, 'player': {'platformId': ...","{'participantId': 9, 'player': {'platformId': ...","{'participantId': 10, 'player': {'platformId':...",...,2885747863,CLASSIC,MATCHED_GAME,8.20.249.1952,11,"[{'participantId': 1, 'teamId': 100, 'champion...",NA1,420,11,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."

In [9]:
def lateral_flatten(df, column_name):
    rows = []
    for i, row in df.iterrows():
        particpiant_identities = row.at['participantIdentities']
        lateral_pi = json_normalize(particpiant_identities)
        participants = row.at['participants']
        lateral_p = json_normalize(participants)
        teams = row.at['teams']
        lateral_teams = json_normalize(teams)
        
        merge1 = pd.merge(lateral_pi, lateral_p, on='participantId')
        merge2 = pd.merge(merge1, lateral_teams, on='teamId')
        
        for j, participant_row in merge2.iterrows():
            new = row.copy()
            
            new_row = pd.concat([new, participant_row])
            rows.append(new_row)

    return pd.DataFrame(rows)

In [10]:
lateral_flatten(df, 'foo').columns.values

array(['gameCreation', 'gameDuration', 'gameId', 'gameMode', 'gameType',
       'gameVersion', 'mapId', 'participantIdentities', 'participants',
       'platformId', 'queueId', 'seasonId', 'teams', 'participantId',
       'player.accountId', 'player.currentAccountId',
       'player.currentPlatformId', 'player.matchHistoryUri',
       'player.platformId', 'player.profileIcon', 'player.summonerId',
       'player.summonerName', 'championId', 'highestAchievedSeasonTier',
       'spell1Id', 'spell2Id', 'stats.assists', 'stats.champLevel',
       'stats.combatPlayerScore', 'stats.damageDealtToObjectives',
       'stats.damageDealtToTurrets', 'stats.damageSelfMitigated',
       'stats.deaths', 'stats.doubleKills', 'stats.firstBloodAssist',
       'stats.firstBloodKill', 'stats.firstInhibitorAssist',
       'stats.firstInhibitorKill', 'stats.firstTowerAssist',
       'stats.firstTowerKill', 'stats.goldEarned', 'stats.goldSpent',
       'stats.inhibitorKills', 'stats.item0', 'stats.item1',
       'stats.item2', 'stats.item3', 'stats.item4', 'stats.item5',
       'stats.item6', 'stats.killingSprees', 'stats.kills',
       'stats.largestCriticalStrike', 'stats.largestKillingSpree',
       'stats.largestMultiKill', 'stats.longestTimeSpentLiving',
       'stats.magicDamageDealt', 'stats.magicDamageDealtToChampions',
       'stats.magicalDamageTaken', 'stats.neutralMinionsKilled',
       'stats.neutralMinionsKilledEnemyJungle',
       'stats.neutralMinionsKilledTeamJungle',
       'stats.objectivePlayerScore', 'stats.participantId',
       'stats.pentaKills', 'stats.perk0', 'stats.perk0Var1',
       'stats.perk0Var2', 'stats.perk0Var3', 'stats.perk1',
       'stats.perk1Var1', 'stats.perk1Var2', 'stats.perk1Var3',
       'stats.perk2', 'stats.perk2Var1', 'stats.perk2Var2',
       'stats.perk2Var3', 'stats.perk3', 'stats.perk3Var1',
       'stats.perk3Var2', 'stats.perk3Var3', 'stats.perk4',
       'stats.perk4Var1', 'stats.perk4Var2', 'stats.perk4Var3',
       'stats.perk5', 'stats.perk5Var1', 'stats.perk5Var2',
       'stats.perk5Var3', 'stats.perkPrimaryStyle', 'stats.perkSubStyle',
       'stats.physicalDamageDealt',
       'stats.physicalDamageDealtToChampions',
       'stats.physicalDamageTaken', 'stats.playerScore0',
       'stats.playerScore1', 'stats.playerScore2', 'stats.playerScore3',
       'stats.playerScore4', 'stats.playerScore5', 'stats.playerScore6',
       'stats.playerScore7', 'stats.playerScore8', 'stats.playerScore9',
       'stats.quadraKills', 'stats.sightWardsBoughtInGame',
       'stats.timeCCingOthers', 'stats.totalDamageDealt',
       'stats.totalDamageDealtToChampions', 'stats.totalDamageTaken',
       'stats.totalHeal', 'stats.totalMinionsKilled',
       'stats.totalPlayerScore', 'stats.totalScoreRank',
       'stats.totalTimeCrowdControlDealt', 'stats.totalUnitsHealed',
       'stats.tripleKills', 'stats.trueDamageDealt',
       'stats.trueDamageDealtToChampions', 'stats.trueDamageTaken',
       'stats.turretKills', 'stats.unrealKills', 'stats.visionScore',
       'stats.visionWardsBoughtInGame', 'stats.wardsKilled',
       'stats.wardsPlaced', 'stats.win', 'teamId',
       'timeline.creepsPerMinDeltas.0-10',
       'timeline.creepsPerMinDeltas.10-20',
       'timeline.csDiffPerMinDeltas.0-10',
       'timeline.csDiffPerMinDeltas.10-20',
       'timeline.damageTakenDiffPerMinDeltas.0-10',
       'timeline.damageTakenDiffPerMinDeltas.10-20',
       'timeline.damageTakenPerMinDeltas.0-10',
       'timeline.damageTakenPerMinDeltas.10-20',
       'timeline.goldPerMinDeltas.0-10',
       'timeline.goldPerMinDeltas.10-20', 'timeline.lane',
       'timeline.participantId', 'timeline.role',
       'timeline.xpDiffPerMinDeltas.0-10',
       'timeline.xpDiffPerMinDeltas.10-20',
       'timeline.xpPerMinDeltas.0-10', 'timeline.xpPerMinDeltas.10-20',
       'bans', 'baronKills', 'dominionVictoryScore', 'dragonKills',
       'firstBaron', 'firstBlood', 'firstDragon', 'firstInhibitor',
       'firstRiftHerald', 'firstTower', 'inhibitorKills',
       'riftHeraldKills', 'towerKills', 'vilemawKills', 'win'],
      dtype=object)

In [11]:
test = df[["gameCreation","gameDuration","gameId","gameMode","gameType","gameVersion","mapId","participantIdentities"]]

In [12]:
df['participantIdentities'][0]

[{'participantId': 1,
  'player': {'platformId': 'NA1',
   'accountId': 42212761,
   'summonerName': 'I AFK or FEED I',
   'summonerId': 27761252,
   'currentPlatformId': 'NA1',
   'currentAccountId': 42212761,
   'matchHistoryUri': '/v1/stats/player_history/NA1/42212761',
   'profileIcon': 691}},
 {'participantId': 2,
  'player': {'platformId': 'NA1',
   'accountId': 226903062,
   'summonerName': 'GhostieRoast',
   'summonerId': 64951811,
   'currentPlatformId': 'NA1',
   'currentAccountId': 226903062,
   'matchHistoryUri': '/v1/stats/player_history/NA1/226903062',
   'profileIcon': 1452}},
 {'participantId': 3,
  'player': {'platformId': 'NA1',
   'accountId': 226161792,
   'summonerName': 'Teriyaki God',
   'summonerId': 62661505,
   'currentPlatformId': 'NA1',
   'currentAccountId': 226161792,
   'matchHistoryUri': '/v1/stats/player_history/NA1/226161792',
   'profileIcon': 1450}},
 {'participantId': 4,
  'player': {'platformId': 'NA1',
   'accountId': 234933660,
   'summonerName': 'Coochie Bandit',
   'summonerId': 80019504,
   'currentPlatformId': 'NA1',
   'currentAccountId': 234933660,
   'matchHistoryUri': '/v1/stats/player_history/NA1/234933660',
   'profileIcon': 1151}},
 {'participantId': 5,
  'player': {'platformId': 'NA1',
   'accountId': 236626343,
   'summonerName': 'dixpix4kix',
   'summonerId': 82956764,
   'currentPlatformId': 'NA1',
   'currentAccountId': 236626343,
   'matchHistoryUri': '/v1/stats/player_history/NA1/236626343',
   'profileIcon': 1487}},
 {'participantId': 6,
  'player': {'platformId': 'NA1',
   'accountId': 218766345,
   'summonerName': 'Skeevo',
   'summonerId': 61079726,
   'currentPlatformId': 'NA1',
   'currentAccountId': 218766345,
   'matchHistoryUri': '/v1/stats/player_history/NA1/218766345',
   'profileIcon': 3776}},
 {'participantId': 7,
  'player': {'platformId': 'NA',
   'accountId': 36877032,
   'summonerName': 'iKledYouNot',
   'summonerId': 22928658,
   'currentPlatformId': 'NA1',
   'currentAccountId': 36877032,
   'matchHistoryUri': '/v1/stats/player_history/NA/36877032',
   'profileIcon': 3776}},
 {'participantId': 8,
  'player': {'platformId': 'NA',
   'accountId': 32809807,
   'summonerName': 'StealthyTurtle',
   'summonerId': 20015805,
   'currentPlatformId': 'NA1',
   'currentAccountId': 32809807,
   'matchHistoryUri': '/v1/stats/player_history/NA/32809807',
   'profileIcon': 509}},
 {'participantId': 9,
  'player': {'platformId': 'NA1',
   'accountId': 234044257,
   'summonerName': 'local manko',
   'summonerId': 77639384,
   'currentPlatformId': 'NA1',
   'currentAccountId': 234044257,
   'matchHistoryUri': '/v1/stats/player_history/NA1/234044257',
   'profileIcon': 642}},
 {'participantId': 10,
  'player': {'platformId': 'NA1',
   'accountId': 210309937,
   'summonerName': 'Gooch Queef',
   'summonerId': 47562521,
   'currentPlatformId': 'NA1',
   'currentAccountId': 210309937,
   'matchHistoryUri': '/v1/stats/player_history/NA1/210309937',
   'profileIcon': 0}}]

In [13]:
dfsql("""
select *
from df
""")

InterfaceError: (sqlite3.InterfaceError) Error binding parameter 7 - probably unsupported type. [SQL: 'INSERT INTO df ("gameCreation", "gameDuration", "gameId", "gameMode", "gameType", "gameVersion", "mapId", "participantIdentities", participants, "platformId", "queueId", "seasonId", teams) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (1539390368227, 1487, 2885747863, 'CLASSIC', 'MATCHED_GAME', '8.20.249.1952', 11, [{'participantId': 1, 'player': {'platformId': 'NA1', 'accountId': 42212761, 'summonerName': 'I AFK or FEED I', 'summonerId': 27761252, 'currentPlatfo ... (2438 characters truncated) ...  47562521, 'currentPlatformId': 'NA1', 'currentAccountId': 210309937, 'matchHistoryUri': '/v1/stats/player_history/NA1/210309937', 'profileIcon': 0}}], [{'participantId': 1, 'teamId': 100, 'championId': 63, 'spell1Id': 11, 'spell2Id': 4, 'highestAchievedSeasonTier': 'SILVER', 'stats': {'participantId' ... (28197 characters truncated) ... ltas': {'10-20': 1258.9, '0-10': 369.3}, 'damageTakenDiffPerMinDeltas': {'10-20': 337.6, '0-10': -44.29999999999998}, 'role': 'SOLO', 'lane': 'TOP'}}], 'NA1', 420, 11, [{'teamId': 100, 'win': 'Win', 'firstBlood': False, 'firstTower': True, 'firstInhibitor': True, 'firstBaron': True, 'firstDragon': False, 'firstRiftHe ... (683 characters truncated) ... ': 6}, {'championId': 81, 'pickTurn': 7}, {'championId': 86, 'pickTurn': 8}, {'championId': 53, 'pickTurn': 9}, {'championId': 157, 'pickTurn': 10}]}])] (Background on this error at: http://sqlalche.me/e/rvf5)

In [4]:
df.to_parquet("./s3_parquet/foo.parquet", engine="fastparquet", compression='snappy')

In [7]:
df_normalized = json_normalize(
    df    
)

AttributeError: 'str' object has no attribute 'values'

In [ ]:
pd.read_parquet("./s3_parquet/foo.parquet", engine="fastparquet").dtypes

In [12]:
one_row_table = df.head(n=1)

In [52]:
df

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,participantIdentities,participants,platformId,queueId,seasonId,teams
0,1499665649596,1567,2544823989,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
1,1499663117674,1785,2544810915,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
2,1499660524114,2048,2544655056,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
3,1499572402641,1514,2543872569,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,420,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
4,1499556741221,2476,2543685823,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
5,1499554266343,2059,2543681846,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
6,1499552061048,1545,2543636860,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
7,1499550279174,1306,2543625615,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
8,1499547707569,1714,2543609034,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
9,1499498878935,2211,2543383072,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
10,1499496570714,1723,2543287676,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
11,1499493464199,2640,2543283005,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
12,1499491938333,996,2543280203,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
13,1499488046352,1809,2543025065,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
14,1499059832299,3102,2539497620,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
15,1499057490675,1548,2539521664,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
16,1499054924763,1793,2539447784,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
17,1499051634241,2659,2539440548,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
18,1499046475214,1662,2539367629,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
19,1498983218876,2269,2538707638,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
20,1499625738156,1496,2544127493,ARAM,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,65,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
21,1499624264342,850,2544125935,ARAM,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,65,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
22,1499592644980,1520,2544014706,ARAM,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,65,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
23,1499590145300,2145,2543987434,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
24,1499587700299,1909,2544004754,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
25,1499585473773,1715,2544002739,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
26,1499582875868,2088,2543972747,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
27,1499580648581,1507,2543937562,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,440,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
28,1499574860739,1503,2543877384,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
29,1499571440685,1970,2543870738,CLASSIC,MATCHED_GAME,7.13.192.6794,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,420,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,1499575004222,959,2543900333,KINGPORO,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,300,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
110,1499573037882,856,2543846603,KINGPORO,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,300,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
111,1499499696582,975,2543412691,KINGPORO,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,300,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
112,1499409992883,1558,2542488269,ARAM,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,65,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
113,1499408602652,1218,2542492514,ARAM,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,65,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
114,1499407258003,1032,2542477491,ARAM,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,65,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
115,1499326426647,1048,2541861496,ARAM,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,65,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
116,1499237369702,1861,2541018672,ARAM,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,65,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
117,1499044150666,947,2539335158,KINGPORO,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,300,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
118,1499038333036,968,2539266781,KINGPORO,MATCHED_GAME,7.13.192.6794,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,300,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
119,1495869483247,2301,2508937259,CLASSIC,CUSTOM_GAME,7.10.187.9675,10,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
120,1495866058044,2347,2508937032,CLASSIC,CUSTOM_GAME,7.10.187.9675,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
121,1495864102504,1503,2508936905,ARAM,CUSTOM_GAME,7.10.187.9675,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
122,1495861815836,1469,2508956421,ARAM,CUSTOM_GAME,7.10.187.9675,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
123,1495356453321,1074,2505415954,ARAM,MATCHED_GAME,7.10.187.9675,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,65,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
124,1495355013261,1073,2505406883,CLASSIC,MATCHED_GAME,7.10.187.9675,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
125,1495351397299,2922,2505394187,CLASSIC,MATCHED_GAME,7.10.187.9675,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
126,1495348587060,1844,2504993232,ARAM,CUSTOM_GAME,7.10.187.9675,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
127,1495346579880,1543,2504693834,ARAM,CUSTOM_GAME,7.10.187.9675,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,8,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
128,1479444606608,2521,2349617136,CLASSIC,MATCHED_GAME,6.22.165.9605,11,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
129,1479193068342,2577,2347282483,CLASSIC,MATCHED_GAME,6.22.165.3566,11,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,8,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
130,1477635925436,2148,2330997622,CLASSIC,MATCHED_GAME,6.21.163.5030,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,7,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
131,1477633538968,1726,2331004200,CLASSIC,MATCHED_GAME,6.21.163.5030,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,7,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
132,1477631438383,1461,2329679507,ARAM,CUSTOM_GAME,6.21.163.5030,12,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,7,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
133,1477630093368,1105,2329679389,ARAM,CUSTOM_GAME,6.21.163.5030,12,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,7,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
134,1477628426374,1344,2329679249,ARAM,CUSTOM_GAME,6.21.163.5030,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,7,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
135,1477465738038,1418,2329630941,CLASSIC,MATCHED_GAME,6.21.162.7510,11,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,400,7,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
136,1477463486375,1441,2328438782,ARAM,CUSTOM_GAME,6.21.162.7510,12,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,7,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
137,1477379450121,1229,2328274396,ARAM,CUSTOM_GAME,6.21.162.7510,12,"[{'participantId': 1}, {'participantId': 2}, {...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,7,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
138,1477377415695,1645,2328293961,ARAM,CUSTOM_GAME,6.21.162.7510,12,"[{'participantId': 1}, {'participantId': 2, 'p...","[{'participantId': 1, 'teamId': 100, 'champion...",NA1,0,7,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."

In [1]:
test = flattencolumns(df, ['participantIdentities', 'teams', 'participants'])
test = flattencolumns(df, ['bans', 'masteries'])

NameError: name 'flattencolumns' is not defined

In [61]:
test.to_parquet("./s3_parquet/foo.parquet", engine="pyarrow", compression='snappy')

ImportError: pyarrow is required for parquet support

you can install via conda
conda install pyarrow -c conda-forge

or via pip
pip install -U pyarrow